In [1]:
#importing modules and the ROI csv into Python for exploratory analysis
import csv
import pandas as pd
import numpy as np
ROI_df=pd.read_csv('C:\\Users\sadie\Python Modules\Happiness Education Project\Full_ROI_Dataset.csv',sep = ',')

In [2]:
#finding the number of rows
len(ROI_df)

30023

In [3]:
#finding the number of columns
len(ROI_df.columns)

68

In [4]:
#finding missing values
pd.DataFrame(ROI_df.isnull().sum(),columns=["Missing Values"])

                                               Missing Values
Unit ID                                                     0
Institution name                                            0
State FIPS code                                             0
State                                                       0
Program CIP code                                            0
...                                                       ...
Estimated counterfactual earnings, ages 53-55               0
Estimated counterfactual earnings, ages 56-58               0
Estimated counterfactual earnings, ages 59-61               0
Estimated counterfactual earnings, ages 62-64               0
Results available for all specifications                  616

[68 rows x 1 columns]

In [5]:
ROI_df.nunique

<bound method DataFrame.nunique of        Unit ID          Institution name  State FIPS code    State  \
0       100654  Alabama A & M University                1  ALABAMA
1       100654  Alabama A & M University                1  ALABAMA
2       100654  Alabama A & M University                1  ALABAMA
3       100654  Alabama A & M University                1  ALABAMA
4       100654  Alabama A & M University                1  ALABAMA
...        ...                       ...              ...      ...
30018   240727     University of Wyoming               56  WYOMING
30019   240727     University of Wyoming               56  WYOMING
30020   240727     University of Wyoming               56  WYOMING
30021   240727     University of Wyoming               56  WYOMING
30022   240727     University of Wyoming               56  WYOMING

       Program CIP code                                       Program name  \
0                  1002  Audiovisual Communications Technologies/Techni...
1                  1101        Computer and Information Sciences, General.
2                  1312  Teacher Education and Professional Development...
3                  1313  Teacher Education and Professional Development...
4                  1408                                 Civil Engineering.
...                 ...                                                ...
30018              5206                     Business/Managerial Economics.
30019              5208         Finance and Financial Management Services.
30020              5213      Management Sciences and Quantitative Methods.
30021              5214                                         Marketing.
30022              5401                                           History.

                            Program category Control  \
0              Communications and Journalism  Public
1          Computer and Information Sciences  Public
2                                  Education  Public
3                                  Education  Public
4                                Engineering  Public
...                                      ...     ...
30018                Business and Management  Public
30019                Business and Management  Public
30020                Business and Management  Public
30021                Business and Management  Public
30022  English, Liberal Arts, and Humanities  Public

                          Carnegie classification (2015)  Admissions rate  \
0      Master's Colleges & Universities: Larger Programs             76.0
1      Master's Colleges & Universities: Larger Programs             76.0
2      Master's Colleges & Universities: Larger Programs             76.0
3      Master's Colleges & Universities: Larger Programs             76.0
4      Master's Colleges & Universities: Larger Programs             76.0
...                                                  ...              ...
30018    Doctoral Universities: Higher Research Activity             96.0
30019    Doctoral Universities: Higher Research Activity             96.0
30020    Doctoral Universities: Higher Research Activity             96.0
30021    Doctoral Universities: Higher Research Activity             96.0
30022    Doctoral Universities: Higher Research Activity             96.0

       ...  Estimated counterfactual earnings, ages 38-40  \
0      ...                                          36601
1      ...                                          38990
2      ...                                          36846
3      ...                                          36846
4      ...                                          38990
...    ...                                            ...
30018  ...                                          49040
30019  ...                                          49040
30020  ...                                          52587
30021  ...                                          47952
30022  ...                                          48260

      Estimated counterfactual earnings, ages 41-43  \
0                                             37508
1                                             39955
2                                             37758
3                                             37758
4                                             39955
...                                             ...
30018                                         50254
30019                                         50254
30020                                         54005
30021                                         49107
30022                                         49505

       Estimated counterfactual earnings, ages 44-46  \
0                                              38561
1                                              41078
2                                              38819
3                                              38819
4                                              41078
...                                              ...
30018                                          51666
30019                                          51666
30020                                          55547
30021                                          50478
30022                                          50906

       Estimated counterfactual earnings, ages 47-49  \
0                                              39064
1                                              41613
2                                              39325
3                                              39325
4                                              41613
...                                              ...
30018                                          52339
30019                                          52339
30020                                          56275
30021                                          51135
30022                                          51572

       Estimated counterfactual earnings, ages 50-52  \
0                                              39584
1                                              42167
2                                              39848
3                                              39848
4                                              42167
...                                              ...
30018                                          53036
30019                                          53036
30020                                          57029
30021                                          51815
30022                                          52260

       Estimated counterfactual earnings, ages 53-55  \
0                                              39660
1                                              42249
2                                              39926
3                                              39926
4                                              42249
...                                              ...
30018                                          53139
30019                                          53139
30020                                          57076
30021                                          51934
30022                                          52334

       Estimated counterfactual earnings, ages 56-58  \
0                                              39302
1                                              41867
2                                              39565
3                                              39565
4                                              41867
...                                              ...
30018                                          52658
30019                                          52658
30020                                          56538
30021                                          51470
30022                                          51852

       Estimated counterfactual earnings, ages 59-61  \
0                                              38317
1                                              40817
2                                              38573
3                                              38573
4                                              40817
...                                              ...
30018                                          51338
30019                                          51338
30020                                          54977
30021                                          50222
30022                                          50489

       Estimated counterfactual earnings, ages 62-64  \
0                                              36419
1                                              38796
2                                              36662
3                                              36662
4                                              38796
...                                              ...
30018                                          48795
30019                                          48795
30020                                          52070
30021                                          47788
30022                                          47909

       Results available for all specifications
0                                           1.0
1                                           1.0
2                                           1.0
3                                           1.0
4                                           1.0
...                                         ...
30018                                       1.0
30019                                       1.0
30020                                       1.0
30021                                       1.0
30022                                       1.0

[30023 rows x 68 columns]>

In [6]:
#importing modules and the happiness csv into Python for exploratory analysis
Happiness_df=pd.read_csv('C:\\Users\sadie\Python Modules\Happiness Education Project\overall_happiness.csv',sep = ',')

In [7]:
#finding the number of rows
len(Happiness_df)

2369

In [8]:
#finding the number of columns
len(Happiness_df.columns)

17

In [9]:
#finding missing values
pd.DataFrame(Happiness_df.isnull().sum(),columns=["Missing Values"])

                       Missing Values
LOCATION                            0
Country                             0
INDICATOR                           0
Indicator                           0
MEASURE                             0
Measure                             0
INEQUALITY                          0
Inequality                          0
Unit Code                           0
Unit                                0
PowerCode Code                      0
PowerCode                           0
Reference Period Code            2369
Reference Period                 2369
Value                               0
Flag Codes                       2369
Flags                            2369

In [10]:
Happiness_df.nunique

<bound method DataFrame.nunique of      LOCATION         Country INDICATOR                          Indicator  \
0         AUS       Australia   JE_LMIS           Labour market insecurity
1         AUT         Austria   JE_LMIS           Labour market insecurity
2         BEL         Belgium   JE_LMIS           Labour market insecurity
3         CAN          Canada   JE_LMIS           Labour market insecurity
4         CZE  Czech Republic   JE_LMIS           Labour market insecurity
...       ...             ...       ...                                ...
2364      CRI      Costa Rica   PS_REPH                      Homicide rate
2365      CRI      Costa Rica   PS_REPH                      Homicide rate
2366      CRI      Costa Rica   WL_EWLH  Employees working very long hours
2367      CRI      Costa Rica   WL_EWLH  Employees working very long hours
2368      CRI      Costa Rica   WL_EWLH  Employees working very long hours

     MEASURE Measure INEQUALITY Inequality Unit Code        Unit  \
0          L   Value        TOT      Total        PC  Percentage
1          L   Value        TOT      Total        PC  Percentage
2          L   Value        TOT      Total        PC  Percentage
3          L   Value        TOT      Total        PC  Percentage
4          L   Value        TOT      Total        PC  Percentage
...      ...     ...        ...        ...       ...         ...
2364       L   Value         MN        Men     RATIO       Ratio
2365       L   Value        WMN      Women     RATIO       Ratio
2366       L   Value        TOT      Total        PC  Percentage
2367       L   Value         MN        Men        PC  Percentage
2368       L   Value        WMN      Women        PC  Percentage

      PowerCode Code PowerCode  Reference Period Code  Reference Period  \
0                  0     Units                    NaN               NaN
1                  0     Units                    NaN               NaN
2                  0     Units                    NaN               NaN
3                  0     Units                    NaN               NaN
4                  0     Units                    NaN               NaN
...              ...       ...                    ...               ...
2364               0     Units                    NaN               NaN
2365               0     Units                    NaN               NaN
2366               0     Units                    NaN               NaN
2367               0     Units                    NaN               NaN
2368               0     Units                    NaN               NaN

      Value  Flag Codes  Flags
0       3.1         NaN    NaN
1       2.3         NaN    NaN
2       2.4         NaN    NaN
3       3.8         NaN    NaN
4       2.3         NaN    NaN
...     ...         ...    ...
2364   18.2         NaN    NaN
2365    1.8         NaN    NaN
2366   22.0         NaN    NaN
2367   27.9         NaN    NaN
2368   12.7         NaN    NaN

[2369 rows x 17 columns]>

In [135]:
Happiness_df.dtypes

LOCATION                  object
Country                   object
INDICATOR                 object
Indicator                 object
MEASURE                   object
Measure                   object
INEQUALITY                object
Inequality                object
Unit Code                 object
Unit                      object
PowerCode Code             int64
PowerCode                 object
Reference Period Code    float64
Reference Period         float64
Value                    float64
Flag Codes               float64
Flags                    float64
dtype: object

In [136]:
#filtered rows to show results for total population (not the inequality measures)
happy_df = Happiness_df[Happiness_df['INEQUALITY'] == 'TOT']
happy_df.dtypes

LOCATION                  object
Country                   object
INDICATOR                 object
Indicator                 object
MEASURE                   object
Measure                   object
INEQUALITY                object
Inequality                object
Unit Code                 object
Unit                      object
PowerCode Code             int64
PowerCode                 object
Reference Period Code    float64
Reference Period         float64
Value                    float64
Flag Codes               float64
Flags                    float64
dtype: object

In [12]:
#re-organized columns and rows with pivot to see the values of each indicator for each country.
pivot=pd.pivot_table(data=happy_df, values='Value', index='Country', columns='Indicator',aggfunc='mean') 
print(pivot)

Indicator        Air pollution  Dwellings without basic facilities  \
Country
Australia                  6.7                                 NaN
Austria                   12.2                                 0.8
Belgium                   12.8                                 0.7
Brazil                    11.7                                 6.7
Canada                     7.1                                 0.2
Chile                     23.4                                 9.4
Colombia                  22.6                                12.3
Costa Rica                17.5                                 2.3
Czech Republic            17.0                                 0.5
Denmark                   10.0                                 0.5
Estonia                    5.9                                 5.7
Finland                    5.5                                 0.4
France                    11.4                                 0.5
Germany                   12.0                                 0.1
Greece                    14.5                                 0.4
Hungary                   16.7                                 3.5
Iceland                    6.4                                 0.0
Ireland                    7.8                                 0.2
Israel                    19.7                                 NaN
Italy                     15.9                                 0.6
Japan                     13.7                                 6.4
Korea                     27.3                                 2.5
Latvia                    12.7                                11.2
Lithuania                 10.5                                11.8
Luxembourg                10.0                                 0.1
Mexico                    20.3                                25.9
Netherlands               12.2                                 0.1
New Zealand                6.0                                 NaN
Norway                     6.7                                 0.0
OECD - Total              14.0                                 3.0
Poland                    22.8                                 2.3
Portugal                   8.3                                 0.9
Russia                    11.8                                13.8
Slovak Republic           18.5                                 1.5
Slovenia                  17.0                                 0.2
South Africa              28.5                                35.9
Spain                     10.0                                 0.3
Sweden                     5.8                                 0.0
Switzerland               10.1                                 0.0
TÃ¼rkiye                   27.1                                 4.9
United Kingdom            10.1                                 0.5
United States              7.7                                 0.1

Indicator        Educational attainment  Employees working very long hours  \
Country
Australia                          84.0                               12.5
Austria                            86.0                                5.3
Belgium                            80.0                                4.3
Brazil                             57.0                                5.6
Canada                             92.0                                3.3
Chile                              67.0                                7.7
Colombia                           59.0                               23.7
Costa Rica                         43.0                               22.0
Czech Republic                     94.0                                4.5
Denmark                            82.0                                1.1
Estonia                            91.0                                2.2
Finland                            91.0                                3.6
France                             81.0                                7.7
Germany                            86.0                                3.9
Greece                             76.0                                4.5
Hungary                            86.0                                1.5
Iceland                            76.0                               11.7
Ireland                            85.0                                4.7
Israel                             88.0                               14.1
Italy                              63.0                                3.3
Japan                               NaN                                NaN
Korea                              89.0                                NaN
Latvia                             89.0                                1.6
Lithuania                          94.0                                1.0
Luxembourg                         74.0                                2.8
Mexico                             42.0                               27.0
Netherlands                        81.0                                0.3
New Zealand                        81.0                               14.0
Norway                             82.0                                1.4
OECD - Total                       79.0                               10.2
Poland                             93.0                                4.2
Portugal                           55.0                                5.6
Russia                             95.0                                0.1
Slovak Republic                    92.0                                4.2
Slovenia                           90.0                                5.6
South Africa                       48.0                               15.4
Spain                              63.0                                2.5
Sweden                             84.0                                0.9
Switzerland                        89.0                                0.4
TÃ¼rkiye                            42.0                               25.0
United Kingdom                     82.0                               10.8
United States                      92.0                               10.4

Indicator        Employment rate  Feeling safe walking alone at night  \
Country
Australia                   73.0                                 67.0
Austria                     72.0                                 86.0
Belgium                     65.0                                 56.0
Brazil                      57.0                                 45.0
Canada                      70.0                                 78.0
Chile                       56.0                                 41.0
Colombia                    58.0                                 50.0
Costa Rica                  55.0                                 47.0
Czech Republic              74.0                                 77.0
Denmark                     74.0                                 85.0
Estonia                     74.0                                 79.0
Finland                     72.0                                 88.0
France                      65.0                                 74.0
Germany                     77.0                                 76.0
Greece                      56.0                                 69.0
Hungary                     70.0                                 74.0
Iceland                     78.0                                 85.0
Ireland                     68.0                                 76.0
Israel                      67.0                                 80.0
Italy                       58.0                                 73.0
Japan                       77.0                                 77.0
Korea                       66.0                                 82.0
Latvia                      72.0                                 72.0
Lithuania                   72.0                                 62.0
Luxembourg                  67.0                                 87.0
Mexico                      59.0                                 42.0
Netherlands                 78.0                                 83.0
New Zealand                 77.0                                 66.0
Norway                      75.0                                 93.0
OECD - Total                66.0                                 74.0
Poland                      69.0                                 71.0
Portugal                    69.0                                 83.0
Russia                      70.0                                 64.0
Slovak Republic             68.0                                 76.0
Slovenia                    71.0                                 91.0
South Africa                39.0                                 40.0
Spain                       62.0                                 80.0
Sweden                      75.0                                 79.0
Switzerland                 80.0                                 86.0
TÃ¼rkiye                     48.0                                 59.0
United Kingdom              75.0                                 78.0
United States               67.0                                 78.0

Indicator        Homicide rate  Household net adjusted disposable income  \
Country
Australia                  0.9                                   37433.0
Austria                    0.5                                   37001.0
Belgium                    1.1                                   34884.0
Brazil                    19.0                                       NaN
Canada                     1.2                                   34421.0
Chile                      2.4                                       NaN
Colombia                  23.1                                       NaN
Costa Rica                10.0                                   16517.0
Czech Republic             0.7                                   26664.0
Denmark                    0.5                                   33774.0
Estonia                    1.9                                   23784.0
Finland                    1.2                                   33471.0
France                     0.4                                   34375.0
Germany                    0.4                                   38971.0
Greece                     1.0                                   20791.0
Hungary                    0.9                                   21026.0
Iceland                    0.3                                       NaN
Ireland                    0.5                                   29488.0
Israel                     1.5                                       NaN
Italy                      0.5                                   29431.0
Japan                      0.2                                   28872.0
Korea                      0.8                                   24590.0
Latvia                     3.7                                   19783.0
Lithuania                  2.5                                   26976.0
Luxembourg                 0.2                                   44773.0
Mexico                    26.8                                   16269.0
Netherlands                0.6                                   34984.0
New Zealand                1.3                                   39024.0
Norway                     0.6                                   39144.0
OECD - Total               2.6                                   30490.0
Poland                     0.5                                   23675.0
Portugal                   0.7                                   24877.0
Russia                     4.8                                   19546.0
Slovak Republic            0.8                                   21149.0
Slovenia                   0.4                                   25250.0
South Africa              13.7                                    9338.0
Spain                      0.7                                   27155.0
Sweden                     1.1                                   33730.0
Switzerland                0.3                                   39697.0
TÃ¼rkiye                    1.0                                       NaN
United Kingdom             0.2                                   33049.0
United States              6.0                                   51147.0

Indicator        Household net wealth  Housing expenditure  ...  \
Country                                                     ...
Australia                    528768.0                 19.4  ...
Austria                      309637.0                 20.8  ...
Belgium                      447607.0                 20.0  ...
Brazil                            NaN                  NaN  ...
Canada                       478240.0                 22.9  ...
Chile                        135787.0                 18.4  ...
Colombia                          NaN                  NaN  ...
Costa Rica                        NaN                 17.0  ...
Czech Republic                    NaN                 23.4  ...
Denmark                      149864.0                 23.3  ...
Estonia                      188627.0                 17.0  ...
Finland                      230032.0                 23.1  ...
France                       298639.0                 20.7  ...
Germany                      304317.0                 20.0  ...
Greece                       148323.0                 21.8  ...
Hungary                      150296.0                 19.9  ...
Iceland                           NaN                  NaN  ...
Ireland                      370341.0                 20.6  ...
Israel                            NaN                  NaN  ...
Italy                        295020.0                 22.5  ...
Japan                        294735.0                 21.8  ...
Korea                        362340.0                 14.7  ...
Latvia                        79245.0                 20.8  ...
Lithuania                    182039.0                 18.4  ...
Luxembourg                   941162.0                 20.7  ...
Mexico                            NaN                 17.8  ...
Netherlands                  248599.0                 19.6  ...
New Zealand                  514162.0                 25.0  ...
Norway                       268358.0                 17.7  ...
OECD - Total                 323960.0                 20.5  ...
Poland                       233221.0                 21.2  ...
Portugal                     255303.0                 19.6  ...
Russia                            NaN                 17.4  ...
Slovak Republic              171425.0                 27.4  ...
Slovenia                     233286.0                 18.2  ...
South Africa                      NaN                 18.1  ...
Spain                        366534.0                 21.7  ...
Sweden                            NaN                 20.1  ...
Switzerland                       NaN                 21.4  ...
TÃ¼rkiye                           NaN                 18.9  ...
United Kingdom               524422.0                 23.2  ...
United States                684500.0                 18.3  ...

Indicator        Personal earnings  Quality of support network  \
Country
Australia                  55206.0                        93.0
Austria                    53132.0                        92.0
Belgium                    54327.0                        90.0
Brazil                         NaN                        83.0
Canada                     55342.0                        93.0
Chile                      26729.0                        88.0
Colombia                       NaN                        80.0
Costa Rica                     NaN                        82.0
Czech Republic             29885.0                        96.0
Denmark                    58430.0                        95.0
Estonia                    30720.0                        95.0
Finland                    46230.0                        96.0
France                     45581.0                        94.0
Germany                    53745.0                        90.0
Greece                     27207.0                        78.0
Hungary                    25409.0                        94.0
Iceland                    67488.0                        98.0
Ireland                    49474.0                        96.0
Israel                     39322.0                        95.0
Italy                      37769.0                        89.0
Japan                      38515.0                        89.0
Korea                      41960.0                        80.0
Latvia                     29876.0                        92.0
Lithuania                  31811.0                        89.0
Luxembourg                 65854.0                        91.0
Mexico                     16230.0                        77.0
Netherlands                58828.0                        94.0
New Zealand                45269.0                        95.0
Norway                     55780.0                        96.0
OECD - Total               49165.0                        91.0
Poland                     32527.0                        94.0
Portugal                   28410.0                        87.0
Russia                         NaN                        89.0
Slovak Republic            23619.0                        95.0
Slovenia                   41445.0                        95.0
South Africa                   NaN                        89.0
Spain                      37922.0                        93.0
Sweden                     47020.0                        94.0
Switzerland                64824.0                        94.0
TÃ¼rkiye                        NaN                        85.0
United Kingdom             47147.0                        93.0
United States              69392.0                        94.0

Indicator        Rooms per person  Self-reported health  \
Country
Australia                     NaN                  85.0
Austria                       1.6                  71.0
Belgium                       2.1                  74.0
Brazil                        NaN                   NaN
Canada                        2.6                  89.0
Chile                         1.9                  60.0
Colombia                      1.0                  80.0
Costa Rica                    1.2                  73.0
Czech Republic                1.5                  62.0
Denmark                       1.9                  70.0
Estonia                       1.7                  57.0
Finland                       1.9                  68.0
France                        1.8                  67.0
Germany                       1.8                  66.0
Greece                        1.2                  79.0
Hungary                       1.4                  58.0
Iceland                       1.6                  77.0
Ireland                       2.1                  84.0
Israel                        1.2                  74.0
Italy                         1.4                  73.0
Japan                         1.9                  37.0
Korea                         1.5                  34.0
Latvia                        1.2                  47.0
Lithuania                     1.5                  46.0
Luxembourg                    2.0                  72.0
Mexico                        1.1                  66.0
Netherlands                   2.0                  75.0
New Zealand                   2.4                  86.0
Norway                        2.1                  75.0
OECD - Total                  1.7                  68.0
Poland                        1.1                  60.0
Portugal                      1.7                  50.0
Russia                        1.0                  43.0
Slovak Republic               1.1                  65.0
Slovenia                      1.6                  67.0
South Africa                  NaN                   NaN
Spain                         1.9                  75.0

In [137]:
#Checking data types (again)
pivot.dtypes

Indicator
Air pollution                                        float64
Dwellings without basic facilities                   float64
Educational attainment                               float64
Employees working very long hours                    float64
Employment rate                                      float64
Feeling safe walking alone at night                  float64
Homicide rate                                        float64
Household net adjusted disposable income             float64
Household net wealth                                 float64
Housing expenditure                                  float64
Labour market insecurity                             float64
Life expectancy                                      float64
Life satisfaction                                    float64
Long-term unemployment rate                          float64
Personal earnings                                    float64
Quality of support network                           float64
Rooms per person                                     float64
Self-reported health                                 float64
Stakeholder engagement for developing regulations    float64
Student skills                                       float64
Time devoted to leisure and personal care            float64
Voter turnout                                        float64
Water quality                                        float64
Years in education                                   float64
dtype: object

In [98]:
Max_df = pd.DataFrame(pivot.max(axis=0),columns=["Max Value"])
Max_df.columns = Max_df.columns.to_flat_index()

Min_df = pd.DataFrame(pivot.min(axis=0),columns=["Min Value"])
Min_df.columns = Min_df.columns.to_flat_index()

Influence_df = pd.concat([Max_df,Min_df], axis=1, join='inner').reset_index()
print(Influence_df)

                                            Indicator  Max Value  Min Value
0                                       Air pollution      28.50        5.5
1                  Dwellings without basic facilities      35.90        0.0
2                              Educational attainment      95.00       42.0
3                   Employees working very long hours      27.00        0.1
4                                     Employment rate      80.00       39.0
5                 Feeling safe walking alone at night      93.00       40.0
6                                       Homicide rate      26.80        0.2
7            Household net adjusted disposable income   51147.00     9338.0
8                                Household net wealth  941162.00    79245.0
9                                 Housing expenditure      27.40       14.7
10                           Labour market insecurity      21.70        1.0
11                                    Life expectancy      84.40       64.2
12                                  Life satisfaction       7.90        4.9
13                        Long-term unemployment rate      17.90        0.0
14                                  Personal earnings   69392.00    16230.0
15                         Quality of support network      98.00       77.0
16                                   Rooms per person       2.60        1.0
17                               Self-reported health      89.00       34.0
18  Stakeholder engagement for developing regulations       3.20        1.2
19                                     Student skills     526.00      400.0
20          Time devoted to leisure and personal care      16.47       14.1
21                                      Voter turnout      92.00       45.0
22                                      Water quality      98.00       62.0
23                                 Years in education      20.00       14.0

In [132]:
Inf_df2 = Influence_df.assign(LSofMin = Influence_df['Indicator'].apply(lambda x:(pivot.loc[pivot[x].idxmin()]['Life satisfaction'])))
print(Inf_df2)

                                            Indicator  Max Value  Min Value  \
0                                       Air pollution      28.50        5.5
1                  Dwellings without basic facilities      35.90        0.0
2                              Educational attainment      95.00       42.0
3                   Employees working very long hours      27.00        0.1
4                                     Employment rate      80.00       39.0
5                 Feeling safe walking alone at night      93.00       40.0
6                                       Homicide rate      26.80        0.2
7            Household net adjusted disposable income   51147.00     9338.0
8                                Household net wealth  941162.00    79245.0
9                                 Housing expenditure      27.40       14.7
10                           Labour market insecurity      21.70        1.0
11                                    Life expectancy      84.40       64.2
12                                  Life satisfaction       7.90        4.9
13                        Long-term unemployment rate      17.90        0.0
14                                  Personal earnings   69392.00    16230.0
15                         Quality of support network      98.00       77.0
16                                   Rooms per person       2.60        1.0
17                               Self-reported health      89.00       34.0
18  Stakeholder engagement for developing regulations       3.20        1.2
19                                     Student skills     526.00      400.0
20          Time devoted to leisure and personal care      16.47       14.1
21                                      Voter turnout      92.00       45.0
22                                      Water quality      98.00       62.0
23                                 Years in education      20.00       14.0

    LSofMin
0       7.9
1       7.6
2       6.0
3       5.5
4       4.9
5       4.9
6       6.1
7       4.9
8       6.2
9       5.8
10      7.6
11      4.9
12      4.9
13      5.8
14      6.0
15      6.0
16      5.7
17      5.8
18      6.0
19      6.1
20      6.1
21      7.5
22      6.2
23      5.7

In [133]:
Inf_df3=Inf_df2.assign(LSofMax = Influence_df['Indicator'].apply(lambda x:(pivot.loc[pivot[x].idxmax()]['Life satisfaction'])))
print(Inf_df3)

                                            Indicator  Max Value  Min Value  \
0                                       Air pollution      28.50        5.5
1                  Dwellings without basic facilities      35.90        0.0
2                              Educational attainment      95.00       42.0
3                   Employees working very long hours      27.00        0.1
4                                     Employment rate      80.00       39.0
5                 Feeling safe walking alone at night      93.00       40.0
6                                       Homicide rate      26.80        0.2
7            Household net adjusted disposable income   51147.00     9338.0
8                                Household net wealth  941162.00    79245.0
9                                 Housing expenditure      27.40       14.7
10                           Labour market insecurity      21.70        1.0
11                                    Life expectancy      84.40       64.2
12                                  Life satisfaction       7.90        4.9
13                        Long-term unemployment rate      17.90        0.0
14                                  Personal earnings   69392.00    16230.0
15                         Quality of support network      98.00       77.0
16                                   Rooms per person       2.60        1.0
17                               Self-reported health      89.00       34.0
18  Stakeholder engagement for developing regulations       3.20        1.2
19                                     Student skills     526.00      400.0
20          Time devoted to leisure and personal care      16.47       14.1
21                                      Voter turnout      92.00       45.0
22                                      Water quality      98.00       62.0
23                                 Years in education      20.00       14.0

    LSofMin  LSofMax
0       7.9      4.9
1       7.6      4.9
2       6.0      5.5
3       5.5      6.0
4       4.9      7.5
5       4.9      7.3
6       6.1      6.0
7       4.9      7.0
8       6.2      7.4
9       5.8      6.5
10      7.6      5.8
11      4.9      6.1
12      4.9      7.9
13      5.8      4.9
14      6.0      7.0
15      6.0      7.6
16      5.7      7.0
17      5.8      7.0
18      6.0      6.0
19      6.1      6.5
20      6.1      6.5
21      7.5      7.1
22      6.2      7.3
23      5.7      7.1

In [138]:
Inf_df3.dtypes

Indicator     object
Max Value    float64
Min Value    float64
LSofMin      float64
LSofMax      float64
dtype: object

In [145]:
Inf_df4 = Inf_df3.assign(LS_diff = abs(Inf_df3['LSofMin']-Inf_df3['LSofMax']))
print(Inf_df4)

                                            Indicator  Max Value  Min Value  \
0                                       Air pollution      28.50        5.5
1                  Dwellings without basic facilities      35.90        0.0
2                              Educational attainment      95.00       42.0
3                   Employees working very long hours      27.00        0.1
4                                     Employment rate      80.00       39.0
5                 Feeling safe walking alone at night      93.00       40.0
6                                       Homicide rate      26.80        0.2
7            Household net adjusted disposable income   51147.00     9338.0
8                                Household net wealth  941162.00    79245.0
9                                 Housing expenditure      27.40       14.7
10                           Labour market insecurity      21.70        1.0
11                                    Life expectancy      84.40       64.2
12                                  Life satisfaction       7.90        4.9
13                        Long-term unemployment rate      17.90        0.0
14                                  Personal earnings   69392.00    16230.0
15                         Quality of support network      98.00       77.0
16                                   Rooms per person       2.60        1.0
17                               Self-reported health      89.00       34.0
18  Stakeholder engagement for developing regulations       3.20        1.2
19                                     Student skills     526.00      400.0
20          Time devoted to leisure and personal care      16.47       14.1
21                                      Voter turnout      92.00       45.0
22                                      Water quality      98.00       62.0
23                                 Years in education      20.00       14.0

    LSofMin  LSofMax  LS_diff
0       7.9      4.9      3.0
1       7.6      4.9      2.7
2       6.0      5.5      0.5
3       5.5      6.0      0.5
4       4.9      7.5      2.6
5       4.9      7.3      2.4
6       6.1      6.0      0.1
7       4.9      7.0      2.1
8       6.2      7.4      1.2
9       5.8      6.5      0.7
10      7.6      5.8      1.8
11      4.9      6.1      1.2
12      4.9      7.9      3.0
13      5.8      4.9      0.9
14      6.0      7.0      1.0
15      6.0      7.6      1.6
16      5.7      7.0      1.3
17      5.8      7.0      1.2
18      6.0      6.0      0.0
19      6.1      6.5      0.4
20      6.1      6.5      0.4
21      7.5      7.1      0.4
22      6.2      7.3      1.1
23      5.7      7.1      1.4

In [148]:
Inf_df4.to_csv('Influence.csv',index=True)

In [ ]:
#importing modules and the Education csv into Python for exploratory analysis
Education_df=pd.read_csv('C:\\Users\sadie\Python Modules\Happiness Education Project\Well_Being_Education.csv',sep = ',')

In [ ]:
#finding the number of rows
len(Education_df)

In [ ]:
#finding the number of columns
len(Education_df.columns)

In [ ]:
#finding missing values
pd.DataFrame(Education_df.isnull().sum(),columns=["Missing Values"])

In [ ]:
Education_df.nunique